/* FONTS */
@font-face {
    font-family: 'AltaRegular';
    src: url('fonts/alta-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.lexend-exa-body-regular {
    font-family: "Lexend Exa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.lexend-exa-body-bold {
    font-family: "Lexend Exa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* GENERAL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sage: #CFDFC4;
    --azalea: #CA2286;
    --ivory: #FAFAF8;
    --evergreen: #27391D;
    --strawberry: #E5B8CC;
    --primary-color: var(--sage);
    --secondary-color: var(--azalea);
    --neutral-color: var(--ivory);
    --accent-color: var(--evergreen);
    --minor-color: var(--strawberry);
}

body {
    background-color: var(--neutral-color);
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 20px 30px;
    height: 120px;
}

.logo {
    font-family: 'AltaRegular', sans-serif;
    font-size: 1.75rem;
    letter-spacing: 14px;
    max-width: min-content;
}

.hamburger {
    font-size: 1.75rem;
}

.nav-links {
    display: none;
}

.nav-links a {
    transition: opacity 0.3s ease-in-out;
}

.nav-links a:hover {
    opacity: 0.7;
}

@media screen and (min-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 30px 20px;
        height: 134px;
    }

    .logo {
        font-size: 2rem;
        max-width: max-content;
        margin-bottom: 20px;
    }

    .hamburger {
        display: none;
    }

    .nav-links {
        display: flex;
        list-style: none;
        text-transform: uppercase;
        gap: 30px;
        font-size: 0.75rem;
    }
}

@media screen and (min-width: 1024px) {
    .navbar {
        height: auto;
        height: 144px;
    }

    .logo {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .nav-links {
        gap: 40px;
        font-size: 0.875rem;
    }
}