/* FONTS */
@font-face {
    font-family: 'AltaRegular';
    src: url('fonts/alta-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BaltimoreRegularItalic';
    src: url('fonts/baltimore-regular-italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

.lexend-exa-body-regular {
    font-family: "Lexend Exa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.lexend-exa-body-bold {
    font-family: "Lexend Exa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* GENERAL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* --sage: #CFDFC4; */
    --sage: #E7EFE2;
    --azalea: #CA2286;
    --ivory: #FAFAF8;
    --evergreen: #27391D;
    --strawberry: #E5B8CC;
    --dark-charcoal: #333;
    --primary-color: var(--sage);
    --secondary-color: var(--azalea);
    --neutral-color: var(--ivory);
    --accent-color: var(--evergreen);
    --minor-color: var(--strawberry);
}

body {
    background-color: var(--neutral-color);
    color: var(--dark-charcoal);
    letter-spacing: 2px;
}

h2 {
    font-family: 'AltaRegular', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 6px;
    line-height: 1.3;
    font-weight: 300;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}

.cursive {
    font-family: 'BaltimoreRegularItalic', sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    height: 120px;
}

.logo {
    font-family: 'AltaRegular', sans-serif;
    font-size: 1.75rem;
    letter-spacing: 14px;
    max-width: min-content;
}

.hamburger {
    font-size: 1.75rem;
}

.nav-links {
    display: none;
}

.nav-links a {
    transition: opacity 0.3s ease-in-out;
}

.nav-links a:hover {
    opacity: 0.7;
}

@media screen and (min-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 30px 20px;
        height: 134px;
    }

    .logo {
        font-size: 2rem;
        max-width: max-content;
        margin-bottom: 20px;
    }

    .hamburger {
        display: none;
    }

    .nav-links {
        display: flex;
        list-style: none;
        text-transform: uppercase;
        gap: 30px;
        font-size: 0.75rem;
    }
}

@media screen and (min-width: 1024px) {
    .navbar {
        height: auto;
        height: 144px;
    }

    .logo {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .nav-links {
        gap: 40px;
        font-size: 0.875rem;
    }
}

/* HERO SECTION */
.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px 20px;
    height: calc(100vh - 120px);
    color: var(--ivory);
}

.hero-text {
    width: 90%;
}

.hero-cursive {
    display: none;
}

.hero-text h2 {
    margin-bottom: 40px;
    font-size: 2.5rem;
}

.hero-text p:nth-of-type(2) {
    display: none;
}

.button-hero {
    display: block;
    text-transform: uppercase;
    font-weight: 300;
    border: 2px solid var(--primary-color);
    border-radius: 25px;
    padding: 12px;
    width: 240px;
    height: 50px;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
}

.button-hero:hover {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: brightness(35%);
    z-index: -1;
}

@media screen and (min-width: 768px) {
    .hero {
        height: calc(100vh - 134px);
    }


    .hero-text {
        width: 80%;
    }

    .hero-cursive {
        display: block;
        transform: rotate(-2deg);
        margin-bottom: 50px;
        font-size: 1.125rem;
    }

    .hero-text h2 {
        font-size: 2.875rem;
        margin: 0 auto 10px;
        min-width: 300px;
        max-width: 600px;
    }

    .hero-text p:nth-of-type(2) {
        display: block;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 0.875rem;
        margin: 0 auto;
        margin-bottom: 50px;
        border-top: 2px solid var(--neutral-color);
        padding-top: 6px;
        width: max-content;
    }

    .button-hero {
        width: 280px;
    }
}

@media screen and (min-width: 1024px) {
    .hero {
        height: calc(100vh - 144px);
        display: flex;
        flex-direction: row;
        padding: 0;
        color: var(--dark-charcoal);
        background-color: var(--primary-color);
    }

    .hero-text {
        width: 60%;
        padding: 20px 40px;
        margin: 0 auto;
    }

    .hero-text p:nth-of-type(2) {
        border-top: 2px solid var(--dark-charcoal);
    }

    .hero-image {
        position: static;
        width: 40%;
        background-image: url(./images/hero.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        filter: brightness(80%);
        z-index: 1;
    }

    .button-hero {
        border: 2px solid var(--accent-color);
    }

    .button-hero:hover {
        background-color: var(--accent-color);
        color: var(--neutral-color);
    }


}